﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MyCaptcha.ascx.cs" Inherits="MyCaptcha"  EnableViewState="true"%>


                    <div class="col-md-4 col-md-offset-2">
                                            <div class="captchaCodeImg">

                                                <asp:Image ID="ImgCaptcha" BackColor="White"  Width="100px" Height ="30px" runat="server" />

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- Normal Input -->
                                            <div class="form-group captch">
                                                          <asp:TextBox ID="TxtCpatcha" runat="server"  placeholder="Enter the code shown on Left" CssClass ="form-control" Text=""></asp:TextBox>
                                         <asp:RequiredFieldValidator Display="Dynamic" ID="RequiredFieldValidator3"   runat="server"
                                    ErrorMessage="Type the word" ControlToValidate="TxtCpatcha" ForeColor="Red"></asp:RequiredFieldValidator>
                                        
                                            </div>
                                            <!-- Normal Input -->
                                        </div>


  
