/** initial setup **/
/*.nano { background: #bba; width: 500px; height: 500px; }
.nano .content { padding: 10px; }
.nano .pane   { background: #888; }
.nano .slider { background: #111; }
*/
.clientInfo-height{
  height: 17px !important;
}
#ClientInfo {
  height: 100px;
  margin-bottom: 10px;   
}
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
  padding: 0 15px 0 0;
}
.nano .content:focus {
  outline: thin dotted;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 5px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  /*-moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;*/
}
.nano > .pane > .slider {
  background: #444;
  background: #87b72d;
  position              : relative;
  margin                : 0 1px;
  /*-moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;*/
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
