//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px) {


.content-area-inner {
width: 100%;
float: none;
margin-left: 0;	
padding-bottom: 15px;
}


.innerdetail {
width: 100%;
position: static;
float: none;


	.scrollers {
	display: none;	
	}


}


.footer-inner {
position: static;
overflow: hidden;
padding: 20px;
text-align: center;	

	p {
	float: none;
	text-align: center;	
	}

	.links {
	float: none;
	margin: 0px auto;
	display: inline-block;	

		li {

			a {
			margin-left: 6px;
			padding-left: 6px;	
			}

		}

	}

}


.section-slider {

	.titleNBreadcrumbSection {
	position: static;
	width: 100%;
	padding: 15px;

		h1 {
		font-size: 24px;
		line-height: 23px;
		margin-bottom: 15px;	
		}

	}

}


.mobileSectionNavTrigger {
//padding: 10px;
min-height: 39px;
width: 100%;
background-color: @darkblue;
display: block;
margin: 0 0 2px 0;

	span {
	display: inline-block;
	float: right;
	cursor: pointer;	
	}

}

.inspiration {

	.mobileSectionNavTrigger {
	background-color: @yellow;	
	}

}


.leisure {

	.mobileSectionNavTrigger {
	background-color: @blue;	
	}

}


.education {

	.mobileSectionNavTrigger {
	background-color: @green;	
	}

}

.stay {

	.mobileSectionNavTrigger {
	background-color: @yellow;	
	}

}

.environment {
	
	.mobileSectionNavTrigger {
	background-color: @green;	
	}

}


.sub-menu {
margin-bottom: 2px;	
display: none;

	li {
	width: 50%;

		&:first-child {
		width: 100%;	
		}	

		a {
		padding: 15px 0;	
		}

	}

}

.main-content-area {
padding: 20px;

	.featurelist {
	margin-right: 0;
	margin-left: 0;
	padding: 15px; 	
	}

	.maintitle {
	font-size: 20px;	
	}

	.subtitle {
	line-height: 28px;
	font-size: 16px;
	font-weight: normal;	
	}

}


.quotesSection {
padding: 20px;	

	p {
	font-size: 18px;
	margin-top: 20px;	
	}

}


ul.parallaxlisting {

	li {
	background-attachment: inherit;	

		.whiteContentSection {
		width: 90%;
		height: auto;
		.border-radius(15px);
		background: #fff;

			.contentSection {
			padding: 15px;	
			}
		
			.swoosh {
			display: none;	
			}

		}

	}

}

.clickHereButton {
display: block;
}


.gallerysection {

	li {

		a {
		width: 30%;	
		}

	}

}


.content-area-inner {

	&.saadiyat {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(50, 55, 129, 1);	
			}

		}

	}

	&.inspiration {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(238, 187, 73, 1);	
			}

		}

	}

	&.leisure {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(61, 153, 215, 1);	
			}

		}

	}

	&.home {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(50, 55, 129, 1);	
			}

		}

	}

	&.education {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(54, 159, 89, 1);	
			}

		}

	}

	&.stay {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(238, 187, 73, 1);	
			}

		}

	}

	&.environment {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(54, 159, 89, 1);	
			}

		}

	}

}


ul.csrListing {

	&.mediaListings {

		li {

			&.right {

				.csrContentSection {

					.contentPart {
					padding: 0;	

						.imgHold {
						width: 100%;
						float: none;
						margin-left: 0;	
						}

					}

				}

			}

			.csrContentSection {

				.contentPart {
				padding: 0;	

					.imgHold {
					width: 100%;
					float: none;	
					}

				}

			}

		}

	}

	li {
	background-color: #fff;	

		&.right {

			.csrContentSection {

				.contentPart {
				padding: 0;	

					.imgHold {
					width: 100%;
					float: none;
					margin-left: 0;	
					}

				}

			}

		}

		.csrContentSection {

			.contentPart {
			padding: 0;	

				.imgHold {
				width: 100%;
				float: none;	
				}

			}

		}

	}

}


.breadcrumb {

	li {
	font-size: 11px;	
	}

}


.enquirenowbox {
margin-left: 0;	
}


ul.diningListings {

	li {
	width: 100% !important;	
	}

}


.checkAvailabityWidget {
margin: 0;

	&.blue {
	margin-left: 0;	
	}

}

.imgHold {
margin-bottom: 15px;	
}

.aboutDarchitect {

	p.key-wordings {
	padding: 0px;
	margin: 15px 0;
	
		span {
		margin-top: 15px;
		display: inline-block;	
		}

	}

}



.column, &.innerdetail {
margin-bottom: 2px;	

    .heading {

            div.mobileTriggerLeftPanel {
            display: block;   
            }
    }

    .panel-content {
    display: none;	
    }
   

}


.inner {

	.column {

		.panel-content {
		display: block !important;	
		}

	}

}            


.titlebox {

	&.swooshbox {

		.swoosh {
		bottom: 0;	
		}

	}

}


.detailVideoSlider {

	ul {

		li {

			.playButton {
			top: 25%;	
			}

		}

	}

}


.relativeDiv {

	span.playIcon {
	top: 5px;	
	}

}


.uaePavalionContainer {

	.imgHold {
	width: 100%;
	margin: 0 0 15px 0;	
	}

}

.downloadListContainer {
	
	.contentSection {

		ul.listings {

			li {
			width: 100%;
			float: none;	
			}

		}

	}

}

.checkAvailabityWidget {

	.submitButton {
	width: 100%;	
	}

	.form-group {
	margin: 0 -15px;	
	}

}


.tripAdvisorWidget {
padding-left: 0;	
}

.accordianListingcontainer {

	.accordianContent {

		.imgHold {
		width: 100%;
		margin: 0 0 15px 0;	
		}

	}

}

nav.menu {
padding-top: 36px;	

	.nav-logo {
	display: none !important;	
	}

}

nav.menu.slide-menu-left {

	a {
	padding: 4px 10px;	
	}

}


.scroll-left {
bottom: auto;
top: 20px;
left: auto;
right: 50px;
display: none;

	.leftArrow {

		img {
		width: 50%;
		height: auto;	
		}

	}

}


.scroll-right {
bottom: auto;
top: 20px;
right: 0px;
display: none;


	.rightArrow {
	outline: 0 !important;

		img {
		width: 50%;
		height: auto;	
		}

	}

}


#main-wrapper {

	.inner {
	width: 100% !important;	
	}

}


.mobileLogo {
display: block;
padding: 10px 0;
text-align: center;
background-color: #fff;

	img {
	width: 32%;
	height: auto;	
	}

}


.column {
	height: auto !important;
	width: 100%;
	&:hover {
		display:block !important;
	}

	.heading {
		padding: 17px 0px !important;

		span {
		text-align: center;
		font-size: 16px;
		float: none;
		display: block;

			b {
			font-size: 22px;
			margin-left: 0;	
			}

		}

	}


	.big-thumbnail {
		display: none;

		img {
		width: 100%;
		height: auto;	
		}

	}

	&:hover {
	display: none;	
	}

	.panel-content {
	display: none;	

		ul {

			li {

				&:hover {

					.thumbnail-box {
					width: 100% !important;

						img {
						.scale(1 , 1);	
						}

					}

				}

				.thumbnail-box {
				width: 93%;
				
					img {
					width: 100%;
					height: auto;
					.scale(1 , 1);	
					}

				}

			}

		}

	}

}

.innerdetail {

	.big-thumbnail {

		img {
		width: 100%;
		height: auto;	
		}

	}


	.panel-content {

		ul {

			li {

				&:hover {

					.thumbnail-box {

						img {
						.scale(1 , 1);	
						}

					}

				}

				.thumbnail-box {
				width: 94%;
				
					img {
					width: 100%;
					height: auto;
					.scale(1 , 1);	
					}

				}

			}

		}

	}

}

.panel-header nav.menu.slide-menu-left .tdic-logo {
bottom: 15px;	
}


ul.misinaryBoxesListings {
margin: 15px 0;	

	// li {
	// width: 50%;
	// margin-bottom: 0px;
	
	// 	&.twoBox {
	// 	width: 50%;	
	// 	}

	// }

}


.awards {
margin-left: 0;
margin-right: 0;
padding: 20px;	
}



#horiz_container_outer {
height: auto !important;
overflow: visible;	
}

#track {
display: none;	
}

.timeline {
display: block;	

	.bar {
	display: none;	
	}

	.circles {
	text-align: center;	
		
		.circle {
		float: left;
		margin: 0px auto;
		top: 0;
		width: 33%;
		.clearfix();
		height: 100px;

			&:first-child {
			
				a {
				padding-left: 0;	
				}

			}

			a {

				h4 {
				margin-top: 10px;
				font-size: 15px;
				text-align: center;
				}

				&:hover, .active {
				margin-top: 0px;

					h4 {
					margin-top: 0;
					}

				}

			}

		}

	}

}

.timeLineContainer {
padding: 0;	
}


.column .heading, .innerdetail .heading {
padding: 17px 55px 18px;	
}


.unitySection {

	.imgHold {
	width: 100%;
	margin: 0 0 15px 0;	
	}

}


.accordianListingcontainer {

	h2 {
	font-size: 17px;	
	}

}


.partners-tab {

	ul.nav-tabs {

		li {
		width: 100%;	

			a {
			display: block;	
			}

		}

	}

}

ul.textAnimatingBanner {
height: auto;	

	li {
	position: static;
	font-size: 18px !important;	
	}

}

.topLogoContainer {

	.imgHold {
	width: 100%;
	margin-right: 0;
	margin-bottom: 15px;	
	}

}

ul.diningListings {

	li {

		.swooshHolder {

			.swoosh {
			bottom: 15px;
			width: 95px;	
			}

		}

	}

}


.extralinks {
overflow: hidden;
margin: 0;

	.linkbtn {
	width: 100%;
	margin-bottom: 0;	
	}

}

ul.badgeInner {
display: block;
width: 88%;
overflow: hidden;
left: 20px;
top: 9px;

	li {
	width: 50%;
	position: static;
	overflow: hidden;
	padding: 0px 0px;
	text-align: center;
	margin-left: 0;	
	float: right;
	}

}

.enquirenowbox {
padding: 20px;	
}


.checkAvailabityWidget {

	.form-group {
	margin: 0;	
	}

}

ul.socialWidgetsListings {

	li {
	width: 100%;
	float: none;
	min-height: 50px;

		ul.socialIconsListings {

			li {
			width: auto;
			float: left;	
			}

		}

	}

}


.checkAvailabityWidget {

	&.mediaRequestForm {
	min-height: 50px;	
	}

}

ul.searchResultsListing {

	li {

		.csrContentSection {

			.contentPart {

				.imgHold {
				width: 100%;
				margin-right: 0;	
				}

			}

		}

	}

}


.introButton {
width: 100%;
padding: 5px 0;

	&.pull-left {
	margin-bottom: 2px;	
	}

	&.pull-right {
	background-color: @blue;	
	}

}


.unitySection {

	&.louvre {

		.featurelist {
		width: 100%;	
		}

		.mediaLogo {
		width: 100%;	
		}

		.clickHereButton {
		float: left;
		width: 100%;	
		}

	}

}


ul.landingBoxListings {

	li {
	width: 43%;	
	}

}


.werToGoSerchSection {

	.searchSection {
	width: 93%;
	right: 0;
	top: 38%;

		.contentSection {

			.closeButton {
			right: 0;	
			}

			h2 {
			margin-bottom: 10px;	
			}

			.submitButton {
			margin-top: 15px;	
			}

		}

	}

}


#map {
margin-left: 0;
width: 100%;
height: 300px;	
}


.mapnavigation {
position: static;
width: 100%;	
}


#locs {
height: 300px !important;	
}


#map_canvas {
height: 300px !important;	
}

ul.eventPromotionNavigation {

	li {
	width: 50%;	

		a {
		padding: 7px 0;
		text-align: center;	
		}

	}

}


ul.days {

	li {
	font-size: 10px;	
	}

}


ul.dates {

	li {
		
		.dateHolder {
		height: 33px;	

			h2 {
			font-size: 12px !important;
			line-height: 28px;	
			}

		}


		.calenderEventPopup {
		padding-top: 0; 

			.eventContainer {
			width: 100%;
			padding: 0;

				.contentSection {
				padding-right: 0;	
				}

			}

		}

	}

}

.calenderContainerSection {

	.calenderContent {

		.contentSection {
		padding: 10px;	

			.calenderTabber {

				h2 {
				font-size: 12px;	
				}
				
				ul.calenderTabNavigation {
				margin: 10px 0 0 0;
				float: none;	
				}

			}

		}

	}

}



ul.dates li .calenderEventPopup .eventContainer .contentSection ul.eventListings li ul.timings li {
padding: 0;
float: none;
border-left: 0;
font-size: 12px;
text-transform: capitalize;	
}

.calenderContainerSection {

	.mainCalenderWrapper {
	min-height: 258px;
	padding: 12px;	
	}

}

ul.dates.month li .dateHolder {

	height: 78px;

	h2 {
	line-height: 55px;	
	}

	h3.eventCount {
	font-size: 11px;	
	}

}

.islandimg {

	.flex-direction-nav {
	display: none;	
	}

}

.mobileBg {
	display:block;
	position: relative;
	width:100%;
	height:100%;
	.bigimage {
		position:absolute;
		left:0
		top:0;
		bottom:0;
		right:0;
		width:100%;
		height:auto;
		z-index: 2;
	}
	
	.tabPortimage {
	display: none;	
	}

	.tabLandbigimage {
	display: none;	
	}

	.playbtnmobile {
		position: absolute;
		left:45%;
		top:45%;
		z-index: 3;
	}
}


.videoMobileHolder {
width: 100%;
position: relative;
min-height: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7);
position: absolute;
top: 0;
left: 0;
z-index: 99;
display: none;

	video {
	width: 100%;
	height: auto;
	margin-top: 45%;	
	}

	span.closeButton {
	position: absolute;
	width: 39px;
	height: 39px;
	right: 0;
	top: 0;
	cursor: pointer;
	background-image:url('@{baseurl}/icons/intro-close-button.png');	
	}

}

.video-panel {
display: none;	
}

.video-ovarlay {
z-index: 999;	
}


.captchaCodeImg {
margin-bottom: 10px;	
	
	img {
	width: 100% !important;
	height: auto !important;	
	}

}

.popUpContainer {

	.titleSection {

		h2 {
		margin-bottom: 20px;
		font-size: 14px;
		text-transform: capitalize;	
		}

	}

}

ul.innerSocialIcons {

	li {
	margin-left: 5px;	

		a {
		margin: 0 !important;	
		
			img {
			width: 50%;
			height: auto;	
			}

		}

	}

}

#map-canvas {
height: 300px !important;	
}


.mainTimelineContainer {

	.content-timeline {
	margin: 0;	
	}

}

.enquirenowbox {

	&.withType {

		.form-group {
		margin: 0 0 10px 0;	
		}

	}

}


#locs {
display: none;	
}




    
}
// media queries ends here 
// =============================================