//
// Responsive: Tablet Portrait
// ----------------------------------------------

@media (min-width: 768px) and (max-width: 979px) {


.column {

	.heading {

            div.mobileTriggerLeftPanel {
            display: block;   
            }
    }

    .panel-content {


		ul {

			li {


				.thumbnail-box {
				width: 94%;
				
					img {
					width: 100%;
					height: auto;
					.scale(1 , 1);	
					}

				}

			}

		}

	}

}

.innerdetail {
width: 100%;
position: static;

	.heading {

            div.mobileTriggerLeftPanel {
            display: block;   
            }
    }

    .panel-content {
    display: none;	
    }

}


.innerdetail {



	.panel-content {

		
		.scroller {
		overflow: hidden;	
		}


		ul {

			li {
			width: 25%;
			float: left;

				&:hover {

					.thumbnail-box {

						img {
						.scale(1 , 1);	
						}

					}

				}

				.thumbnail-box {
				width: 94%;
				
					img {
					width: 100%;
					height: auto;
					.scale(1 , 1);	
					}

				}

			}

		}

	}

}

.content-area-inner {
margin-left: 0px;	
}


.sub-menu {

	li {

		a {
		padding: 15px 0;
		text-align: center;	
		}

	}

}


.titlebox {

	&.swooshbox { 

		.swoosh {
		width: 75px;	
		}

	}

}


.partners-tab {

	ul.nav-tabs {

		li {

			a {
			font-size: 11px;
			padding: 8px 45px 8px 12px;	
			}

		}

	}

}


ul.textAnimatingBanner {

	li {
	font-size: 25px !important;
	
		&.forth {
		top: 57px;	
		}

		&.third {
		top: 110px;	
		}

	}

}


.gallerysection {

	li {

		a {
		width: 22%;
		height: 52px;	
		}

	}

}


ul.diningListings {

	li {

		.swooshHolder {

			.swoosh {
			width: 80px;	
			}

		}

	}

}


ul.landingBoxListings {

	li {
	width: 22%;	
	}

}

ul.diningListings {

	li {
	width: 33%;
	float: left;

		.contentTextContainer {
		height: 480px;	
		}

	}

}


ul.instaListings {

	li {
	width: 32%;
	float: left;	
	}

} 


.checkAvailabityWidget {

	&.mediaRequestForm {
	min-height: 456px;	
	}

}


.column .panel-content ul li .title, .innerdetail .panel-content ul li .title {
padding: 10px 15px 10px 10px;
}


.scrollers {
display: none;	
}


.mobileBg {
	display:block;
	position: relative;
	width:100%;
	height:100%;
	.bigimage {
	display: none;
	}

	.tabPortimage {
	position:absolute;
	left:0
	top:0;
	bottom:0;
	right:0;
	width:100%;
	height:auto;
	z-index: 2;	
	}

	.tabLandbigimage {
	display: none;	
	}

	.playbtnmobile {
		position: absolute;
		left:45%;
		top:45%;
		z-index: 3;
	}
}


.videoMobileHolder {
width: 100%;
position: relative;
min-height: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7);
position: absolute;
top: 0;
left: 0;
z-index: 99;
display: none;

	video {
	width: 100%;
	height: auto;
	margin-top: 40%;	
	}

	span.closeButton {
	position: absolute;
	width: 39px;
	height: 39px;
	right: 0;
	top: 0;
	cursor: pointer;
	background-image:url('@{baseurl}/icons/intro-close-button.png');	
	}

}

.video-panel {
display: none;	
}

.video-ovarlay {
z-index: 999;	
}


.enquirenowbox {

	&.withType {

		.form-group {
		margin: 0 0 10px 0;	
		}

	}

}


}
// media queries ends here 
// ==================================