//
// Responsive: Tablet Portrait
// ----------------------------------------------

@media (min-width: 980px) and (max-width: 1199px) {


.column {

    .panel-content {


		ul {

			li {


				.thumbnail-box {
				width: 94%;
				
					img {
					width: 100%;
					height: auto;
					.scale(1 , 1);	
					}

				}

			}

		}

	}

}


.sub-menu {

	li {

		a {
		font-size: 12px;
		padding: 14px 0;
		text-align: center;	
		}

	}

}


.innerdetail {



	.panel-content {


		ul {

			li {

				.thumbnail-box {
				width: 94%;
				
					img {
					width: 100%;
					height: auto;
					.scale(1 , 1);	
					}

				}

			}

		}

	}

}


.titlebox {

	&.swooshbox {

		.swoosh {
		width: 78px;	
		}

	}

}

.gallerysection {

	li {

		a {
		width: 22%;
		height: 52px;	
		}

	}

}


.column, .innerdetail {
width: 250px;	
}


.content-area-inner {
margin-left: 250px;	
}


ul.textAnimatingBanner {

	li {
	font-size: 25px !important;
	
		&.forth {
		top: 57px;	
		}

		&.third {
		top: 110px;	
		}

	}

}


ul.landingBoxListings {

	li {
	width: 22%;	
	}

}


.checkAvailabityWidget {

	.form-group {

		label {

			&.control-label {
			font-size: 11px;	
			}

		}

	}

}

ul.diningListings {

	li {

		.swooshHolder {

			.swoosh {
			width: 70px;	
			}

		}

	}

}

ul.timings {

	li {
	font-size: 11px;	
	}

}


.partners-tab {

	ul.nav-tabs {

		li {

			a {
			font-size: 11px;
			padding: 8px 45px 8px 12px;	
			}

		}

	}

}


.unitySection.louvre .featurelist {
width: 43%;	
}



.mobileBg {
	display:block;
	position: relative;
	width:100%;
	height:100%;
	.bigimage {
	display: none;
	}
	
	.tabPortimage {
	display: none;	
	}

	.tabLandbigimage {
	position:absolute;
	left:0;
	top:0px;
	bottom:0;
	right:0;
	width:100%;
	height:auto;
	z-index: 2;	
	}

	.playbtnmobile {
		position: absolute;
		left:45%;
		top:45%;
		z-index: 3;
	}
}


.videoMobileHolder {
width: 100%;
position: relative;
min-height: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7);
position: absolute;
top: 0;
left: 0;
z-index: 99;
display: none;

	video {
	width: 100%;
	height: auto;
	margin-top: 7%;	
	}

	span.closeButton {
	position: absolute;
	width: 39px;
	height: 39px;
	right: 0;
	top: 0;
	cursor: pointer;
	background-image:url('@{baseurl}/icons/intro-close-button.png');	
	}

}

.video-panel {
display: none;	
}

.video-ovarlay {
z-index: 999;	
}



}
// media queries ends here 
// ==================================