//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px) {


.content-area-inner {
width: 100%;
float: none;
margin-left: 0;	
padding-bottom: 15px;
}


.innerdetail {
width: 100%;
position: static;
float: none;


	.scrollers {
	display: none;	
	}


}


.footer-inner {
position: static;
overflow: hidden;
padding: 20px;	

	p {
	float: none;
	text-align: center;	
	}

	.links {

		li {

			a {
			margin-left: 6px;
			padding-left: 6px;	
			}

		}

	}

}


.section-slider {

	.titleNBreadcrumbSection {
	position: static;
	width: 100%;
	padding: 15px;

		h1 {
		font-size: 24px;
		line-height: 23px;
		margin-bottom: 15px;	
		}

	}

}


.mobileSectionNavTrigger {
//padding: 10px;
min-height: 39px;
width: 100%;
background-color: @darkblue;
display: block;
margin: 0 0 2px 0;

	span {
	display: inline-block;
	float: right;
	cursor: pointer;	
	}

}


.sub-menu {
margin-bottom: 2px;	
display: none;

	li {
	width: 50%;

		&:first-child {
		width: 100%;	
		}	

		a {
		padding: 15px 0;	
		}

	}

}

.main-content-area {
padding: 20px;

	.featurelist {
	margin-right: 0;
	margin-left: 0;
	padding: 15px; 	
	}

	.maintitle {
	font-size: 20px;	
	}

	.subtitle {
	line-height: 28px;
	font-size: 16px;
	font-weight: normal;	
	}

}


.quotesSection {
padding: 20px;	

	p {
	font-size: 18px;
	margin-top: 20px;	
	}

}


ul.parallaxlisting {

	li {

		.whiteContentSection {
		width: 90%;
		height: auto;
		.border-radius(15px);
		background: #fff;

			.contentSection {
			padding: 15px;	
			}
		
			.swoosh {
			display: none;	
			}

		}

	}

}

.clickHereButton {
display: block;
}


.gallerysection {

	li {

		a {
		width: 30%;	
		}

	}

}


.content-area-inner {

	&.saadiyat {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(50, 55, 129, 1);	
			}

		}

	}

	&.inspiration {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(238, 187, 73, 1);	
			}

		}

	}

	&.leisure {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(61, 153, 215, 1);	
			}

		}

	}

	&.home {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(50, 55, 129, 1);	
			}

		}

	}

	&.education {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(54, 159, 89, 1);	
			}

		}

	}

	&.stay {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(238, 187, 73, 1);	
			}

		}

	}

	&.environment {

		.section-slider {

			.titleNBreadcrumbSection {
			background: rgba(54, 159, 89, 1);	
			}

		}

	}

}


ul.csrListing {

	&.mediaListings {

		li {

			&.right {

				.csrContentSection {

					.contentPart {
					padding: 0;	

						.imgHold {
						width: 100%;
						float: none;
						margin-left: 0;	
						}

					}

				}

			}

			.csrContentSection {

				.contentPart {
				padding: 0;	

					.imgHold {
					width: 100%;
					float: none;	
					}

				}

			}

		}

	}

	li {
	background-color: #fff;	

		&.right {

			.csrContentSection {

				.contentPart {
				padding: 0;	

					.imgHold {
					width: 100%;
					float: none;
					margin-left: 0;	
					}

				}

			}

		}

		.csrContentSection {

			.contentPart {
			padding: 0;	

				.imgHold {
				width: 100%;
				float: none;	
				}

			}

		}

	}

}


.breadcrumb {

	li {
	font-size: 11px;	
	}

}


.enquirenowbox {
margin-left: 0;	
}


ul.diningListings {

	li {
	width: 100% !important;	
	}

}


.checkAvailabityWidget {
margin: 0;

	&.blue {
	margin-left: 0;	
	}

}

.imgHold {
margin-bottom: 15px;	
}

.aboutDarchitect {

	p.key-wordings {
	padding: 0px;
	margin: 15px 0;
	
		span {
		margin-top: 15px;
		display: inline-block;	
		}

	}

}



.column, &.innerdetail {
margin-bottom: 2px;	

    .heading {

            div.mobileTriggerLeftPanel {
            display: block;   
            }
    }

    .panel-content {
    display: none;	
    }
   

}


.inner {

	.column {

		.panel-content {
		display: block !important;	
		}

	}

}            


.titlebox {

	&.swooshbox {

		.swoosh {
		bottom: 0;	
		}

	}

}


.detailVideoSlider {

	ul {

		li {

			.playButton {
			top: 25%;	
			}

		}

	}

}


.relativeDiv {

	span.playIcon {
	top: 5px;	
	}

}


.uaePavalionContainer {

	.imgHold {
	width: 100%;
	margin: 0 0 15px 0;	
	}

}

.downloadListContainer {
	
	.contentSection {

		ul.listings {

			li {
			width: 100%;
			float: none;	
			}

		}

	}

}

.checkAvailabityWidget {

	.submitButton {
	width: 100%;	
	}

	.form-group {
	margin: 0 -15px;	
	}

}


.tripAdvisorWidget {
padding-left: 0;	
}

.accordianListingcontainer {

	.accordianContent {

		.imgHold {
		width: 100%;
		margin: 0 0 15px 0;	
		}

	}

}

nav.menu {
padding-top: 36px;	

	.nav-logo {
	display: none !important;	
	}

}

nav.menu.slide-menu-left {

	a {
	padding: 4px 10px;	
	}

}


.scroll-left {
bottom: auto;
top: 20px;
left: auto;
right: 50px;
display: none;

	.leftArrow {

		img {
		width: 50%;
		height: auto;	
		}

	}

}


.scroll-right {
bottom: auto;
top: 20px;
right: 0px;
display: none;


	.rightArrow {
	outline: 0 !important;

		img {
		width: 50%;
		height: auto;	
		}

	}

}


#main-wrapper {

	.inner {
	width: 100% !important;	
	}

}


.mobileLogo {
display: block;
padding: 10px 0;
text-align: center;
background-color: #fff;

	img {
	width: 32%;
	height: auto;	
	}

}


.column {
	height: auto !important;
	width: 100%;
	&:hover {
		display:block !important;
	}

	.heading {
		padding: 17px 0px !important;

		span {
		text-align: center;
		font-size: 16px;
		float: none;
		display: block;

			b {
			font-size: 22px;
			margin-left: 0;	
			}

		}

	}


	.big-thumbnail {
		display: none;

		img {
		width: 100%;
		height: auto;	
		}

	}

	&:hover {
	display: none;	
	}

	.panel-content {
	display: none;	

		ul {

			li {

				&:hover {

					.thumbnail-box {

						img {
						.scale(1 , 1);	
						}

					}

				}

				.thumbnail-box {
				width: 93%;
				
					img {
					width: 100%;
					height: auto;
					.scale(1 , 1);	
					}

				}

			}

		}

	}

}

.innerdetail {

	.big-thumbnail {

		img {
		width: 100%;
		height: auto;	
		}

	}


	.panel-content {

		ul {

			li {

				&:hover {

					.thumbnail-box {

						img {
						.scale(1 , 1);	
						}

					}

				}

				.thumbnail-box {
				width: 94%;
				
					img {
					width: 100%;
					height: auto;
					.scale(1 , 1);	
					}

				}

			}

		}

	}

}

.panel-header nav.menu.slide-menu-left .tdic-logo {
bottom: 15px;	
}


ul.misinaryBoxesListings {
margin: 15px 0;	
}


.awards {
margin-left: 0;
margin-right: 0;
padding: 20px;	
}



.timeline {
display: none;	
}


.column .heading, .innerdetail .heading {
padding: 17px 55px 18px;	
}


.unitySection {

	.imgHold {
	width: 100%;
	margin: 0 0 15px 0;	
	}

}


.accordianListingcontainer {

	h2 {
	font-size: 17px;	
	}

}


.partners-tab {

	ul.nav-tabs {

		li {
		width: 100%;	

			a {
			display: block;	
			}

		}

	}

}

ul.textAnimatingBanner {
height: auto;	

	li {
	position: static;
	font-size: 18px !important;	
	}

}

.topLogoContainer {

	.imgHold {
	width: 100%;
	margin-right: 0;
	margin-bottom: 15px;	
	}

}

ul.diningListings {

	li {

		.swooshHolder {

			.swoosh {
			bottom: 15px;
			width: 95px;	
			}

		}

	}

}


.extralinks {
overflow: hidden;
margin: 0;

	.linkbtn {
	width: 100%;
	margin-bottom: 0;	
	}

}

ul.badgeInner {
display: block;
width: 88%;
overflow: hidden;
left: 20px;

	li {
	width: 100%;
	position: static;
	overflow: hidden;
	padding: 10px 0px;
	text-align: center;
	margin-left: 0;	
	}

}

.enquirenowbox {
padding: 20px;	
}


.checkAvailabityWidget {

	.form-group {
	margin: 0;	
	}

}

ul.socialWidgetsListings {

	li {
	width: 100%;
	float: none;
	min-height: 50px;

		ul.socialIconsListings {

			li {
			width: auto;
			float: left;	
			}

		}

	}

}


.checkAvailabityWidget {

	&.mediaRequestForm {
	min-height: 50px;	
	}

}

ul.searchResultsListing {

	li {

		.csrContentSection {

			.contentPart {

				.imgHold {
				width: 100%;
				margin-right: 0;	
				}

			}

		}

	}

}






    
}
// media queries ends here 
// =============================================