//
// Responsive: Tablet Portrait
// ----------------------------------------------

@media (min-width: 980px) and (max-width: 1199px) {


.column {

    .panel-content {


		ul {

			li {


				.thumbnail-box {
				width: 94%;
				
					img {
					width: 100%;
					height: auto;
					.scale(1 , 1);	
					}

				}

			}

		}

	}

}


.sub-menu {

	li {

		a {
		font-size: 12px;
		padding: 14px 0;
		text-align: center;	
		}

	}

}


.innerdetail {



	.panel-content {


		ul {

			li {

				.thumbnail-box {
				width: 94%;
				
					img {
					width: 100%;
					height: auto;
					.scale(1 , 1);	
					}

				}

			}

		}

	}

}


.titlebox {

	&.swooshbox {

		.swoosh {
		width: 78px;	
		}

	}

}

.gallerysection {

	li {

		a {
		width: 22%;
		height: 52px;	
		}

	}

}


.column, .innerdetail {
width: 250px;	
}


.content-area-inner {
margin-left: 250px;	
}


ul.textAnimatingBanner {

	li {
	font-size: 25px !important;
	
		&.forth {
		top: 57px;	
		}

		&.third {
		top: 110px;	
		}

	}

}


ul.landingBoxListings {

	li {
	width: 22%;	
	}

}


.checkAvailabityWidget {

	.form-group {

		label {

			&.control-label {
			font-size: 11px;	
			}

		}

	}

}

ul.diningListings {

	li {

		.swooshHolder {

			.swoosh {
			width: 70px;	
			}

		}

	}

}

ul.timings {

	li {
	font-size: 11px;	
	}

}


.partners-tab {

	ul.nav-tabs {

		li {

			a {
			font-size: 11px;
			padding: 8px 45px 8px 12px;	
			}

		}

	}

}


.unitySection.louvre .featurelist {
width: 43%;	
}




}
// media queries ends here 
// ==================================