//
// Responsive: Tablet Portrait
// ----------------------------------------------

@media (min-width: 768px) and (max-width: 979px) {


.column {

	.heading {

            div.mobileTriggerLeftPanel {
            display: block;   
            }
    }

    .panel-content {


		ul {

			li {


				.thumbnail-box {
				width: 94%;
				
					img {
					width: 100%;
					height: auto;
					.scale(1 , 1);	
					}

				}

			}

		}

	}

}

.innerdetail {
width: 100%;
position: static;

	.heading {

            div.mobileTriggerLeftPanel {
            display: block;   
            }
    }

    .panel-content {
    display: none;	
    }

}


.innerdetail {



	.panel-content {

		
		.scroller {
		overflow: hidden;	
		}


		ul {

			li {
			width: 25%;
			float: left;

				&:hover {

					.thumbnail-box {

						img {
						.scale(1 , 1);	
						}

					}

				}

				.thumbnail-box {
				width: 94%;
				
					img {
					width: 100%;
					height: auto;
					.scale(1 , 1);	
					}

				}

			}

		}

	}

}

.content-area-inner {
margin-left: 0px;	
}


.sub-menu {

	li {

		a {
		padding: 15px 0;
		text-align: center;	
		}

	}

}


.titlebox {

	&.swooshbox { 

		.swoosh {
		width: 75px;	
		}

	}

}


.partners-tab {

	ul.nav-tabs {

		li {

			a {
			font-size: 11px;
			padding: 8px 45px 8px 12px;	
			}

		}

	}

}


ul.textAnimatingBanner {

	li {
	font-size: 25px !important;
	
		&.forth {
		top: 57px;	
		}

		&.third {
		top: 110px;	
		}

	}

}


.gallerysection {

	li {

		a {
		width: 22%;
		height: 52px;	
		}

	}

}


ul.diningListings {

	li {

		.swooshHolder {

			.swoosh {
			width: 80px;	
			}

		}

	}

}


ul.landingBoxListings {

	li {
	width: 22%;	
	}

}

ul.diningListings {

	li {
	width: 33%;
	float: left;	
	}

}


ul.instaListings {

	li {
	width: 32%;
	float: left;	
	}

} 


.checkAvailabityWidget {

	&.mediaRequestForm {
	min-height: 456px;	
	}

}


.column .panel-content ul li .title, .innerdetail .panel-content ul li .title {
padding: 10px 15px 10px 10px;
}






}
// media queries ends here 
// ==================================